<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../content/Style/Vendors/bootstrap.min.css">
   <link rel="stylesheet" href="../content/Style/Vendors/fullpage.min.css">
   <link rel="stylesheet" href="../content/Style/Main/app.css">
</head>
<body>
    
    <div id="fullpage">
        <div class="section section1 col-12"></div>
        <div class="section section2 col-12"></div>
        <div class="section section3 col-12"></div>
    </div>
    


    <script src="../content/Js/Vendors/fullpage.extensions.min.js"></script>
    <script src="../content/Js/Vendors/bootstrap.bundle.min.js"></script>
    <script src="../content/Js/Main/app.js"></script>
</body>
</html>